# Carpeta de entornos virtuales
env/
venv/
.venv/

# Archivo con variables locales
.env

# Archivos de funcionamiento
__pycache__
*.pyc

# Archivos de GIT
.git
.gitignore

# Archivos de testing
*.log
tests/

# Archivos de Docker
Dockerfile
.dockerignore