<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo de la apliación web -->
    <title>Plantz</title>
    <!-- Link al archivo del CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
    <!-- Link a una fuente de texto -->
    <link href="https://fonts.googleapis.com/css2?family=Della+Respira&display=swap" rel="stylesheet">
</head>

<body>
<section id="main-content">
    <div>
        <!-- Barra de navegación -->
        <nav>
            <!-- Imagen del Logo -->
            <img class="logo" src="../static/pics/PLantzLogo.png" alt="Logo Plantz">
            <div class="navItems">
                <!-- Anclaje de los links con su respectiva vista -->
                <a href="{{ url_for('home') }}">HOME</a>
                <a href="{{ url_for('us') }}">NOSOTROS</a>

                <!-- Si el usuario esta autenticado muestra la siguiente ventana -->
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('statistic_blueprint.esp32') }}">ESTADISTICAS</a>
                    <a href="{{ url_for('update_blueprint.update') }}">USUARIO</a>
                <!-- Si no lo esta, la barra te lleva al login -->  
                {% else %}
                    <a href="{{ url_for('login_blueprint.login') }}">INICIAR SESION</a>  
                {% endif %}
            </div>
        </nav>
    </div>
    
    <!--. Bloque en donde residen los bloques de los demas HTML -->
    {% block body %}
    {% endblock %}
    
</section>
    <div>
        <!-- Pie de la aplicación web -->
        <footer>
            <!-- Texto que contiene el Footer -->
            <p>Hecho por: Nieva Lucas - Miguez Morena - Vera Camila - Sahuanay Erik - Quiroga Lucia</p>
        </footer>
    </div>

</body>
</html>