<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    <div>
        <nav>
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('us') }}">NOSOTROS</a>
            <a href="{{ url_for('login_blueprint.login') }}">INICIAR SESION</a>
        </nav>
    </div>

    {% block body %}
    {% endblock %}
    
    <div>
        <footer>
            <p>Hecho por: Nieva Lucas - Miguez Morena - Vera Camila - Sahuanay Erik - Quiroga Lucia</p>
        </footer>
    </div>

</body>
</html>