{% extends "extends.html" %}

{% block body %}

    <div>
        <h1>PLANTZ</h1>
    </div>

    <div>
        <section>
            <p>
                Este producto es un dispositivo desarrollado con el fin de domotizar el cuidado de las plantas, este contiene 2 caracteristicas fundamentales para el bienestar de la planta: los datos de la humedad en tierra y de la temperatura del exterior a traves de sensores, ademas de proporcionar la hora exacta en la que se tomo el dato, con una frecuencia de 30 minutos entre si. Facilitando el acceso a esta informacion de manera remota, por ejemplo: si la tierra tiene poca humedad o si hay temperaturas altas.
            </p>
            
            <p>
                Este funciona a traves de una conexion WiFi previamente conectada. La instalacion del producto es a una distancia aproximada de 7 centimetros de la planta o zona a monitorear, se incrustara los 2 pines salientes de la carcaza a tierra y de esta manera ya se encontraria funcional.
            </p>
            
            <p>
                Podra acceder a los datos a traves de esta página web, donde se debera registrar si es su primera vez, una vez logeado debera ingresar el <b>ID del producto</b> que viene con el mismo, cuando este se ingrese le mostrara los datos que se recolectaron en una tabla.
            </p>
            
        </section>
    </div>

    <div>
        <h2>
            Si le interesa nuestro producto, puede contactarnos mediante:
        </h2>
    </div>



{% endblock %}