<!-- Informacion que contiene la apliación -->
{% extends "extends.html" %}
<!-- Contenido del body-->
{% block body %}
    <div class="textoBuscar">
        <div>
            <!-- Saludo al usuario, con la funcion {{ current_user.nombre }} 
                Obtiene el nombre del usuario logueado -->
            <h2>¡Hola {{ current_user.nombre }}!</h2>
        </div>
        <div>
            <!-- Instrucción al usuario -->
            <p>Ingrese el ID de su producto para ver sus datos</p>
        </div>

    </div>

    <div>
        <!--Formulario para las estadisticas -->
        <form class="formStatistic" action="{{ url_for ('statistic_blueprint.esp32') }}", method="POST">
            <!-- Generador de Token CSRF -->
            <input type= "hidden" name="csrf_token" value="{{ csrf_token() }}">
            <!-- Búsqueda del Código único de cada producto -->
            <input type="text" name="idEsp32" class="get_esp32" placeholder="ID del Producto:">
            <button name="search">Buscar</button>
        </form>
    </div>

    <!-- Funcion con la que buscaremos si hay mensajes FLASH -->
    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
                <div class="alertTable alert-success alert-dismissible fade show" role="alert">
                    <strong> {{ message }} </strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        <!-- Contenido de la tabla donde se muestra la informacion -->
        <table>
            <!-- Encabezado de la tabla -->
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Temperatura (C°)</th>
                    <th>Humedad (%)</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla -->
            <tbody>
                {% for datos in datosEsp32 %}
                <tr>
                    <td>{{ datos.0 }}</td>
                    <td>{{ datos.1 }}</t>
                    <td>{{ datos.2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}