{% extends "extends.html" %}

{% block body %}

    <div class="textoBuscar">
        <div>
            <h2>¡Hola {{ current_user.nombre }}!</h2>
        </div>
        <div>
            <p>Ingrese el ID de su producto para ver sus datos</p>
        </div>

    </div>

    
    <div>
        <form action="{{ url_for ('statistic_blueprint.esp32') }}", method="POST">
            <input type= "hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="idEsp32" class="get_esp32" placeholder="ID del Producto:">
            <button name="search">Buscar</button>
        </form>
    </div>

    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
                <div class="alertTable alert-success alert-dismissible fade show" role="alert">
                    <strong> {{ message }} </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        <table>
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Temperatura</th>
                    <th>Humedad</th>
                </tr>
            </thead>
            <tbody>
                {% for datos in datosEsp32 %}
                <tr>
                    <td>{{ datos.0 }}</td>
                    <td>{{ datos.1 }}</t>
                    <td>{{ datos.2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}