<!-- Plnatilla que se usará como base -->
{% extends "extends.html" %}
<!-- Contenido del body-->
{% block body %}
<!-- Indica el contenido principal de la aplicación web -->
<section class="infoNosotros">
    <div>
        <!-- El título de la aplicación web -->
        <h3>
                Sobre Nosotros
        </h3>
    </div>
    <br>
    <div>
        <!-- Informacion que contiene la apliación -->
        <p>
            Somos un grupo de estudiantes de la E.E.S.T.N°2 de la carrera de informatica, donde nos encontramos cursando ya el ultimo año de la secundaria, proximo a egresarnos.
        </p>
    </div>
    <br>
    <div>
        <!-- El título de la aplicación web -->
        <h3>
            ¿Porque elegimos este proyecto?
        </h3>
    </div>
    <br>
    <div>
         <!-- Informacion que contiene la apliación -->
        <p>
            Lo elegimos por la facilidad que trae para el usuario, es decir que con un solo dispositivo y acceso a WiFi ya podemos monitorear nuestras plantas sin importar la distancia.
        </p>
    </div>
</section>

{% endblock %}