{% extends "extends.html" %}

{% block body %}
<section class="infoNosotros">
    <div>
        <h3>
            Sobre Nosotros
        </h3>
    </div>
    <br>
    <div>
        <p>
            Somos un grupo de estudiantes de la E.E.S.T.N°2 de la carrera de informatica, donde nos encontramos cursando ya el ultimo año de la secundaria, proximo a egresarnos.
        </p>
    </div>
    <br>
    <div>
        <h3>
            ¿Porque elegimos este proyecto?
        </h3>
    </div>
    <br>
    <div>
        <p>
            Lo elegimos por la facilidad que trae para el usuario, es decir que con un solo dispositivo y acceso a WiFi ya podemos monitorear nuestras plantas sin importar la distancia.
        </p>
    </div>
</section>

    

{% endblock %}