<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 401</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body>
    
    <div class="divError">
        <img class="logo" src="../static/pics/pala.jpg" alt="Error 401">
        <h1 class="titleError"> Usted no esta autorizado a esta vista </h1>
        <a class="linkError" href="{{ url_for('home') }}">Volver a Home</a>

    </div>

</body>
</html>